.weather-sheet {
  .sheet-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: transparent;
    margin-top: 0.3rem;

    .txt-sheet-header {
      font-size: 1.3rem;
      font-weight: bold;
    }
  }

  .center {
    text-align: center;
    color: #1f1f1f;
  }
}
