.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  color: #1f1f1f;
}

.txt-val {
  font-weight: bold;
}
